# Default Payments of Credit Card Clients in Taiwan from 2005

# Which variables are the strongest predictors of default payment?

•	ID: ID of each client
•	LIMIT_BAL: Amount of given credit in NT dollars (includes individual and family/supplementary credit
•	SEX: Gender (1=male, 2=female)
•	EDUCATION: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)
•	MARRIAGE: Marital status (1=married, 2=single, 3=others)
•	AGE: Age in years
•	PAY_0: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, ... 8=payment delay for eight months, 9=payment delay for nine months and above)
•	PAY_2: Repayment status in August, 2005 (scale same as above)
•	PAY_3: Repayment status in July, 2005 (scale same as above)
•	PAY_4: Repayment status in June, 2005 (scale same as above)
•	PAY_5: Repayment status in May, 2005 (scale same as above)
•	PAY_6: Repayment status in April, 2005 (scale same as above)
•	BILL_AMT1: Amount of bill statement in September, 2005 (NT dollar)
•	BILL_AMT2: Amount of bill statement in August, 2005 (NT dollar)
•	BILL_AMT3: Amount of bill statement in July, 2005 (NT dollar)
•	BILL_AMT4: Amount of bill statement in June, 2005 (NT dollar)
•	BILL_AMT5: Amount of bill statement in May, 2005 (NT dollar)
•	BILL_AMT6: Amount of bill statement in April, 2005 (NT dollar)
•	PAY_AMT1: Amount of previous payment in September, 2005 (NT dollar)
•	PAY_AMT2: Amount of previous payment in August, 2005 (NT dollar)
•	PAY_AMT3: Amount of previous payment in July, 2005 (NT dollar)
•	PAY_AMT4: Amount of previous payment in June, 2005 (NT dollar)
•	PAY_AMT5: Amount of previous payment in May, 2005 (NT dollar)
•	PAY_AMT6: Amount of previous payment in April, 2005 (NT dollar)
•	default.payment.next.month: Default payment (1=yes, 0=no)

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("UCI_Credit_Card.csv")
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [4]:
X = data.iloc[:, :-1].values
y = data.iloc[:, 24].values

In [5]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

C:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [30]:
from sklearn.svm import LinearSVC
#dual=False when n_samples > n_features.
clf = LinearSVC(random_state=0)
clf.fit(X, y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=0, tol=0.0001,
     verbose=0)

In [27]:
# Predicting the Test set results
y_pred = clf.predict(X_test)

In [28]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
Accuracy = (cm[0][0]+cm[1][1])/(cm[0][0]+cm[0][1]+cm[1][0]+cm[1][1])

array([[4507,  196],
       [1230,   67]], dtype=int64)

In [42]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=2)
neigh.fit(X, y) 
y_pred_1 = neigh.predict(X_test)

In [43]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm_1 = confusion_matrix(y_test, y_pred_1)
Accuracy_1 = (cm_1[0][0]+cm_1[1][1])/(cm_1[0][0]+cm_1[0][1]+cm_1[1][0]+cm_1[1][1])
Accuracy_1

0.8476666666666667